@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/*----------------------------Heading*/

header {
    margin: 0;
    color: #fafafa;
}

.title {
    padding-left: 30px;
    padding-right: 15px;
    background-color: #fff;
    color: #999999;
}

.name {
    font-size: 30px;

}

.job-title {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;

}

.menu-item {
    height: 120%;
    text-align: center;
    background-color: #999;
    color: #fafafa;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fafafa;
}

#nav.list-inline {
    padding-left: 40px;
}
